<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.taylor.cse.sbrandle.biblemem.v001"
    android:versionCode="1"
    android:versionName="1.0" >

    <!-- Min version was 8 -->
    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="17" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/CustomTitleTheme" >
        <activity
            android:name=".MainAct"
            android:label="@string/icon_label" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="edu.taylor.cse.sbrandle.biblemem.v001.setting.SettingAboutDialog"
            android:label="@string/about_title"
            android:theme="@android:style/Theme.Dialog" >
        </activity>
        <activity
            android:name="edu.taylor.cse.sbrandle.biblemem.v001.setting.SettingAct" >
        </activity>
        <activity
            android:name="edu.taylor.cse.sbrandle.biblemem.v001.setting.SettingBibleEditionAct" >
        </activity>
        <activity
            android:name="edu.taylor.cse.sbrandle.biblemem.v001.setting.SettingDifficultyDialog"
            android:label="@string/setting_difficulty_label"
            android:theme="@android:style/Theme.Dialog" >
        </activity>
        <activity
            android:name=".VerseChooserAct" >
        </activity>
        <activity
            android:name=".ActivityChooserAct" >
        </activity>
        <activity
            android:name="edu.taylor.cse.sbrandle.biblemem.v001.firstletter.FirstLetterHelpDialog"
            android:label="@string/first_letter_help_title"
            android:theme="@android:style/Theme.Dialog" >
        </activity>
        <activity
            android:name="edu.taylor.cse.sbrandle.biblemem.v001.firstletter.FirstLetterAct" >
        </activity>
        <activity
            android:name="edu.taylor.cse.sbrandle.biblemem.v001.locateword.LocateWordHelpDialog"
            android:label="@string/locate_word_help_title"
            android:theme="@android:style/Theme.Dialog" >
        </activity>
        <activity
            android:name="edu.taylor.cse.sbrandle.biblemem.v001.locateword.LocateWordAct" >
        </activity>
        <activity
            android:name="edu.taylor.cse.sbrandle.biblemem.v001.project.ProjectListAct" >
        </activity>
        <activity
            android:name="edu.taylor.cse.sbrandle.biblemem.v001.project.ProjectListAddDialog"
            android:theme="@android:style/Theme.Dialog" >
        </activity>
        <activity
            android:name="edu.taylor.cse.sbrandle.biblemem.v001.project.ProjectListLongClickSettingDialog"
            android:theme="@android:style/Theme.Dialog" >
        </activity>
        <activity android:name="edu.taylor.cse.sbrandle.biblemem.v001.project.ProjectVerseAct" >
        </activity>
        <activity
            android:name="edu.taylor.cse.sbrandle.biblemem.v001.project.ProjectVerseLongClickSettingDialog"
            android:theme="@android:style/Theme.Dialog" >
        </activity>
        <activity
            android:name="edu.taylor.cse.sbrandle.biblemem.v001.project.ReviewManagerAct" >
        </activity>

        <receiver
            android:name="edu.taylor.cse.sbrandle.biblemem.v001.widget.todayverse.TodayVerseWidget"
            android:label="@string/today_verse_widget_title" >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/today_verse_widget_provider" />
        </receiver>
    </application>

</manifest>